RewriteEngine on
RewriteRule ^([a-z0-9]*)/?$ index.php?PgOpen=$1 [L,QSA]
RewriteRule ^([a-z0-9]*)/id-([a-z0-9]*)/?$ index.php?PgOpen=$1&id=$2 [L,QSA]
RewriteRule ^([a-z0-9]*)/user-([a-z0-9]*)/?$ index.php?PgOpen=$1&user_login=$2 [L,QSA]
RewriteRule ^([a-z0-9]*)/action-([a-z0-9]*)/?$ index.php?PgOpen=$1&action=$2 [L,QSA]